body {
  color: white;
  font-family: 'JetBrains Mono', monospace;

  margin: 0;
  
  background: #2C2B3D;
}

.page {
  width: 1280px;

  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 71px 98px 101px 99px;
}

ul {
  list-style: none;

  display: flex;
  gap: 64px;
}

a {
  color: #fff;
  text-decoration: none;
}

section p {
  font-family: 'Open Sans', sans-serif;
}