* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;

  background: linear-gradient(45deg, #190361 0%, #B0F 100%) no-repeat;

  display: grid;
  place-items: center;
  height: 100vh;
}

body, button {
  font-family: "DM Sans", sans-serif;
}

/* screen1 */
main {
  border-radius: .5rem;
  background: #FFF;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.80);

  padding: 4.8rem 6.4rem 6.4rem 6.4rem;

  width: 42.8rem;
}

h1 {
  color: #34355B;

  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 1.4rem;
}

p {
  color: #34355B;

  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
}

.screen1 button {
  background: #FFF;
  border: 0;
}

img {
  margin-top: 2.6rem;
}

.cookie-1:hover {
  animation: shake .5s ;
  animation-iteration-count: 30;

  cursor: pointer;
}

.hide {
  display: none;
}

/* Animação */
@keyframes shake {
   0% {
    margin-left: 0;
   }

   25% {
    margin-left: .2rem;
   }

   50% {
    margin-left: 0;
   }

   75% {
    margin-left: -0.2rem;
   }

   100% {
    margin-left: 0;
   }
}

/* screen2 */
.screen2 h2 {
  color: #34355B;

  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 2.4rem;  
  font-weight: 700;
  line-height: normal;

  margin-bottom: 1.7rem;
}

.message {
  background: #E4EDF1;
  padding: 1rem;
  box-shadow: .2rem .2rem .2rem 0 rgba(85, 85, 85, 0.50);

  animation: moveup 5s ease-in-out;
}

.message p {
  color: #000;
  font-family: "Dancing Script", cursive;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  line-height: normal;
}

.cookie-2 {
  margin: 6rem 0;
}

.screen2 button {
  display: flex;
  justify-content: center;

  background: #FF9500;

  color: #FFF;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;

  padding: 1.6rem;
  
  border-radius: .4rem;
  border: none;

  margin: 0 auto;

  cursor: pointer;
}

.screen2 button:hover {
  background: #d47d03;
}

@keyframes moveup {
  from {
    transform: translateY(140%) scale(0.1);
  }

  to {
    transform: translateY(0);
  }
}