* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  background: #BFD7E4;
  color: #FFF;
}

body::before {
  content: '';

  width: 100%;
  height: 465px;

  background: #293241;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h1, legend {
  font-family: "Staatliches", sans-serif;
}

.page {
  width: 750px;
  margin: 0 auto;
}

header {
  text-align: center;
}

header h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: normal;

  margin-top: 107px;
}

header p {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;

  height: 46px;
}

header img {
  margin-bottom: 32px;
}

form {
  min-height: 300px;

  background: #FFF;
  border-radius: 20px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  padding: 0 64px;
}

#fieldset-header {
  margin-bottom: 30px;
}

#fieldset-header legend {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;

  text-align: center;

  background: #F67669;
  padding: 50px;

  height: 128px;
  width: 100%;

  border-radius: 20px 20px 0 0;
}

.fieldset-wrapper legend {
  color: #253B51;

  font-size: 24px;
  font-weight: 400;
  line-height: 34px;

  text-align: center;

  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 7px;
}

.input-group {
  display: flex;
  gap: 22px;
}

.input-group input {
  width: 300px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label,
.checkbox-wrapper label {
  color: #4E4958;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  margin: 18px 0 7px;
}

.input-wrapper input,
.input-wrapper select,
.input-wrapper textarea {
  height: 55px;

  border-radius: 8px;
  border: 1px solid #E6E6F0;
  
  background: #FAFAFC;
  padding: 0 24px;
  
  color: #4E4958;
  font-size: 16px;
  line-height: 26px;
}

.input-wrapper span {
  color: #C1BCCC;

  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.input-wrapper select {
  width: 300px;

  appearance: none;
  -webkit-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.64984L5 5.61617L9 1.64984' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

  background-repeat: no-repeat;
  background-position: right 23px top 50%;
}

.input-wrapper textarea {
  height: 166px;
  padding: 0 8px;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 8px;

  margin: 0;
}

.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;

  margin: 30px 0;

  width: 24px;
  height: 24px;

  opacity: 0;
}

.checkbox-wrapper label::before {
  content: '';

  width: 24px;
  height: 24px;

  display: block;
  margin: 30px 0;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4001_23)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4001_23'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}

.col-3 {
  display: flex;
  gap: 10px;
}

.col-3 > div:nth-child(1) {
  width: 100%;
  margin-right: 22px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;

  padding: 64px;
  margin-bottom: 100px;
}

.button-wrapper .button {
  padding: 12px 40px;

  border: 0;
  border-radius: 8px;
  background: #F67669;

  color: #FFF;

  font-family: "Staatliches", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.button-wrapper .button:hover {
  background: #db6255;
  cursor: pointer;
}

input:invalid {
  border: 1px solid #FF1010;
}
