* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --webkit-font-smooting: antialiased;
  --moz-osx-font-smooting: grayscale;
}

:root {
  font-size: 62.5%;

  --color-base-100: #fff;
  --color-base-200: rgba(255, 255, 255, 0.20);
  --color-base-500: #202024;
  --color-base-600: #121214;

  --background-color-base-100: lightgray;
  --background-color-base-200: #065E7C;
}

body {
  font-size: 1.6rem;
}

html, body, input {
  font-family: "Mulish", sans-serif;
}

#app {
  width: 43rem;

  margin: 0 auto;
}

header {
  padding: 1.2rem 2.8rem;

  background-color: var(--background-color-base-200);
}

header,
.navbar {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.logo {
  background-color: var(--background-color-base-100);

  width: 4.0rem;
  height: 4.0rem;

  padding: .8rem;
}

header form {
  flex: 1;
}

form label {
  width: 1px;
  height: 1px;

  overflow: hidden;
  position: absolute;
}

form input {
  width: 24rem;
  
  padding: 1.2rem 1.4rem 1.6rem 1.2rem;
  
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem;

  background-color: var(--color-base-200);

  border-radius: .5rem;
  border: none;
}

form input::placeholder {
  color: var(--color-base-100);
}

header img {
  width: 4.2rem;
  height: 4.2rem;

  border-radius: 50%;
}

.thumbnail {
  width: 43rem;
  max-height: 22.0rem;

  border-radius: 0 0 .5rem .5rem;

  background-color: var(--background-color-base-100);

  object-fit: cover;
}

article > .description,
aside {
  margin: 3.4rem 2.6rem 0 2.2rem;
}

.description h1 {
  color: var(--color-base-500);

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.8rem;
}

.description p {
  color: var(--color-base-600);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.like-unlike {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;

  margin: .8rem 0 3.1rem 0;
}

.like-unlike img {
  background-color: var(--background-color-base-200);
  
  padding: 1.2rem;
  
  border-radius: 50%;
}

aside h2 {
  margin-bottom: 3.2rem;

  color: var(--color-base-500);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.8rem;
}

.thumbnail-sidebar-list {
  display: flex;
  gap: 1.6rem;

  margin-bottom: 3.2rem;

  list-style: none;
}

.thumbnail-sidebar-image {
  min-width: 15.1rem;
  max-height: 11.0rem;
  
  border-radius: 5px;
}

.thumbnail-sidebar-list:nth-child(3) {
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.container h3 {
  color: var(--color-base-500);
  font-size: 1.8rem;
  font-weight: 700;

  line-height: 2.8rem;
}

.container p {
  color: var(--color-base-600);
  font-size: 1.4rem;
  font-weight: 400;

  line-height: 2.2rem;
}

footer {
  text-align: center;

  padding: 1.6rem;

  color: var(--color-base-100);
  background-color: var(--background-color-base-200);

  margin-top: 4rem;
}