* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --webkit-font-smooting: antialiased;
  --moz-osx-font-smooting: grayscale;
}

:root {
  font-size: 62.5%;

  --background-color-base-100: lightgray;
  --background-color-base-200: #065E7C;
}

body {
  font-size: 1.6rem;
}

#app {
  
}

.thumbnail {
  max-width: 43.4rem;
  max-height: 22.0rem;

  border: 1px solid red;
  border-radius: 5px;

  background-color: var(--background-color-base-100);
}

.like-unlike-icons {
  background-color: var(--background-color-base-200);
}

.thumbnail-sidebar {
  width: 151px;
  height: 84px;

  border-radius: 5px;
  background: var(--background-color-base-100);
  border: 1px solid red;
}